:root{
  --skill-box-size: 360px;
}


@keyframes main-bg-scroll {
  to{
    background-position: 100% -100%;
  }
}

main{
  background: radial-gradient(#fff0, #fff0, var(--dark-purple));
}

.main-bg{
  position: relative;
  z-index: -1;
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 40px 0;
  background: url("../res/images/Space.png");
  background-repeat: repeat;
  animation: main-bg-scroll 40s linear infinite;
}

.main-content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  position: relative;
  padding: 3rem 1rem 4rem 1rem;
}

.main-content::before {
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: var(--dark-purple);
  border-radius: 40px;
  opacity: 0.4;
}

.logo{
  width: 18vw;
  min-width: 200px;
  margin-right: 20px;
}

.main-text{
  max-width: 40vw;
}

.main-text > h1{
  font-weight: normal;
  color: var(--light);
}

.main-text > h1 > span{
  font-weight: bold;
  color: var(--green);
}

.main-text > p{
  font-size: 3rem;
  margin-top: 1.2rem;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
  color: var(--light);
}

.main-text > p > .focal-sentence{
  font-size: 3.4rem;
}

@media only screen and (max-width: 900px) {
  .main-content{
    flex-direction: column;
  }

  .logo{
    margin: 0;
  }

  .main-text > h1{
    text-align: center;
  }
}


.skills{
  background-color: var(--dark-purple);
}

.skills > p{
  text-align: center;
  color: var(--light);
}

.skills-wrapper{
  display: grid;
  gap: 40px 10vw;
  margin-top: 20px;
  justify-content: center;
  grid-template-columns: repeat(2,var(--skill-box-size));
}

.skills-wrapper > li{
  border: 5px solid var(--light);
  height: var(--skill-box-size);
  position: relative;
  background-image: url("../res/images/SkillBox.png");
  background-size: 200% 200%;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px var(--light);
}

.skills-wrapper > li:hover{
  border-color: var(--green);
  opacity: 0.8;
}

.skill-programming{
}
.skill-pixelart{
  background-position-x: 100%;
}
.skill-music{
  background-position-y: 100%;
}
.skill-editing{
  background-position-x: 100%;
  background-position-y: 100%;
}

.skills-wrapper > li > h4{
  opacity: 0;
  text-align: center;
  font-size: 4rem;
  text-decoration: underline;
  color: var(--dark-purple);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skills-wrapper > li:hover > h4{
  opacity: 1;
}

@media only screen and (max-width: 900px) {
  .skills-wrapper{
    grid-template-columns: var(--skill-box-size);
  }
}


.contact{
  background-color: var(--purple);
  text-align: center;
  color: var(--light);
}

.social-media{
  margin: 0 32vw;
  /* common.css has the rest*/
}

.email-section{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  margin: 40px auto 0 auto;
  padding: 0 10px 10px 10px;
  background-color: var(--dark-purple);
  border-radius: 8px;
}

.email-section input, textarea{
  border-width: 0;
  font-size: 2rem;
  padding: 10px;
  background-color: var(--light);
  caret-color: var(--dark-purple);
  color: var(--dark-purple);
}

.email-section input:focus, textarea:focus{
  border-width: 0;
  outline: none;
}

.email-section p{
  color: var(--light);
}

.email-section h2{
  color: var(--green);
  font-weight: normal;
}

.email-section > *{
  margin-top: 25px;
}

.email-section > button{
  font-size: 2.2rem;
  background-color: var(--dark-green);
  color: var(--light);
  height: 40px;
  width: 100%;
  border-width: 0;
  border-color: var(--light);
  border-style: solid;
}

.email-section > button:hover{
  border-width: 4px;
  background-color: transparent;
}

.line-input{
  display: flex;
  align-items: center;
  width: 100%;
}

.line-input > input{
  margin-left: 10px;
  width: 100%;
  height: 40px;
}

.email-body{
  width: 100%;
}

.email-body > textarea{
  resize: none;
  margin-top: 10px;
  width: 100%;
}