.description{
  padding: 45px 8vw;
  background-color: var(--purple);
  min-height: 200px;
  border-top: 5px solid var(--dark-green);
}

.description > h1{
  text-align: center;
  color: var(--green);
  font-size: 4.6rem;
  letter-spacing: 0.5rem;
  text-shadow: 0 0 8px var(--green);
}

.description > p{
  margin-top: 20px;
  color: var(--light);
  letter-spacing: 0.1rem;
  text-align: center;
  font-size: 2.5rem;
}

@media only screen and (max-width: 900px) {
  .description > h1{
    font-size: 4rem;
  }

  .description > p{
    font-size: 2rem;
  }
}


.stats{
  margin: 40px auto 0 auto;
  width: fit-content;
}

/* js generated tables */
skill-stats{
  display: block;
  width: fit-content;
  margin-top: 50px;
}

skill-stats > h4{
  font-weight: normal;
  text-align: center;
  font-size: 2.8rem;
  padding: 8px 0;
  color: var(--light);
  background-color: var(--dark-green);
}

.table-scroll-container{
  margin-top: 5px;
  max-width: 80vw;
  overflow-x: auto;
}

.stats-table{
  border-collapse: collapse;
  border-top: 8px solid var(--dark-green);
}

.stats-table tr:first-child{
  text-align: center;
  background-color: var(--purple);
}

.stats-table td{
  padding: 8px 30px;
  color: var(--light);
  font-size: 2.4rem;
  border-top: 5px solid var(--dark-purple);
}

.stats-table td:first-child{
  background-color: var(--purple);
  width: 0%; /* this seems to behave as min-content should, while min-content doesn't work. and I thought c++ was wierd*/
  max-width: 20vw;
}

.stats-table .table-rect{
  margin: 0;
  padding: 0;
}

.stats-table .table-rect > div{
  background-color: var(--green);
  border-bottom: 4px solid var(--dark-green);
  height: 40px;
  margin: 10px 0;
}

.stats-table .table-rect-end > div{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media only screen and (max-width: 900px) {
  .stats-table td{
    padding: 8px 20px;
    font-size: 1.9rem;
  }
}


.example{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.example > h2{
  text-align: center;
}

.example > p{
  color: var(--light);
  background-color: var(--purple);
  padding: 20px 20px;
}

.example > .social-media{
  margin-top: 20px;
}